<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Área</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mt-5">
        <h1>Crear Nueva Área</h1> 
        <form action="/registrar_area" method="post">
            <div class="mb-3">
                <label for="nombreArea" class="form-label">Nombre:</label>
                <input type="text" id="nombreArea" name="nombreArea" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Crear Área</button>
            <a href="/" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
